<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 1;
                background-color: #d3edf6;
                font-family: Arial, sans-serif;
            }

            
            
        </style>
    </head>
<body>

<h1>Hello {{name}} Welcome 🎉</h1>
<a href="/logout">Logout</a>

</body>
</html>
